<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <title>Track Match</title>
</head>
<body>
    <h1 style="text-align:center;">Track Match</h1>
    <br>
    <form style="text-align:center;" method="POST">
        <div class="Form__field">
            <label for="ssong" class="form__label">Input a song title</label>
            <input type=text id="ssong" name="ssong">
        </div>

        <div class="form__fieldset">
            <input
            class="form__submit form__input"
            type="submit"
            value="Show Me Results"
            />
    </form>
<h4 style="text-align:center;">The app will return in a few seconds tracks you should enjoy, base on the choice you just entered.</h4>
<h1 style="text-align:center;"></h1>
</body>
</html>
